// fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800)
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600)
$default-fonts: Arial, sans-serif
=sans-l
	font-family: 'Open Sans', $default-fonts
	font-weight: 300
=sans
	font-family: 'Open Sans', $default-fonts
	font-weight: 400
=sans-sb
	font-family: 'Open Sans', $default-fonts
	font-weight: 600
=sans-xb
	font-family: 'Open Sans', $default-fonts
	font-weight: 800
=ss-sb
	font-family: 'Source Sans Pro', $default-fonts
	font-weight: 600

// colors
$red: #D1221E

/* ==========================================================================
   Main Styles
   ========================================================================== */
a:hover, a:focus
	text-decoration: none
a
	color: inherit
	text-decoration: none
svg
	width: 100%
	height: 100%
.is-hidden
	display: none
.row
	+pie-clearfix
*
	+selection
		color: #fff
		background-color: $red
body
	min-width: 320px
	+sans-sb
	font-size: 16px
	color: #111
	line-height: 1.42857
	background-color: #111
.wrapper
	overflow: hidden
	margin: 0 auto
	min-height: 100%
	padding-bottom: 40px
.wrap
	+container
	transition: all 0.3s
	+pie-clearfix
/* ==========================================================================
   Header
   ========================================================================== */
.header
	position: relative
	z-index: 1
	height: 50px
	line-height: 20px
	letter-spacing: 0.1em
	+pie-clearfix
	.main-nav
		float: left
	.logo
		position: absolute
		left: 0
		top: 0
	.search
		float: right
	.icon
		float: left
		position: relative
		top: 2px
		margin-right: 7px
		width: 20px
		height: 15px
		fill: #fff
		&.icon-babes
			stroke-width: 12
			stroke: #fff
		&.icon-lifestyle
			stroke-width: 1
			stroke: #fff
		&.icon-entertainment
			stroke-width: 15
			stroke: #fff
.main-nav
	margin-left: 40px + 227px
	ul
		+pie-clearfix
		font-size: 15px
		color: #fff
		text-transform: uppercase
		li
			float: left
			a
				display: block
				padding: 15px
				transition: all 0.3s
			&:hover, &.is-active
				a
					background-color: $red
					transition: all 0.3s
.logo
	a
		display: block
		img
			width: 227px
			height: 123px
			vertical-align: middle
/* search field */
.search
	+ss-sb
	+pie-clearfix
	&-inp
		float: left
		margin-top: 10px
		padding: 0
		width: 0
		height: 30px
		+sans-sb
		font-size: 16px
		color: #bbb
		line-height: 30px
		background-color: rgba(255,255,255,.1)
		transition: width 0.5s
		+placeholder-color(#bbb)
		&.is-active
			padding: 0 5px
			width: 140px
			transition: width 0.5s
	&-btn
		float: right
		margin-left: 15px
		padding: 15px 5px
		+ss-sb
		font-size: em(16)
		color: #fff
		line-height: 20px
		text-transform: uppercase
		background-color: transparent
		transition: all 0.3s
		&:hover
			background-color: $red
			transition: all 0.3s
		+r(1279)
			padding-left: 15px
			padding-right: 15px
	.submit-btn
		display: none
/* ==========================================================================
   Footer
   ========================================================================== */
.footer
	margin-top: -40px
	height: 40px
	+ss-sb
	font-size: 14px
	line-height: 20px
	background-color: #fff
	+pie-clearfix
	.copyright
		margin-top: 10px
		float: left
		transition: all 0.3s
		+r(1279)
			margin-left: 20px
			transition: all 0.3s
	.foot-nav
		float: right
.foot-nav
	ul
		text-transform: uppercase
		+pie-clearfix
		li
			float: left
			a
				display: block
				padding: 10px 15px
				transition: all 0.3s
			&:hover, &.is-active
				a
					color: #fff
					background-color: $red
					transition: all 0.3s
/* ==========================================================================
   Main
   ========================================================================== */
/* main news */
.main-news
	+sans-xb
	font-size: em(36)
	line-height: (38/36)
	> a
		display: block
		&:hover
			.icon
				fill: darken($red,20)
				transition: all 0.3s
	&__img
		overflow: hidden
		max-height: 380px
		img
			width: 100%
			min-height: 100%
			vertical-align: bottom
	&__desc
		padding: 20px 60px 0
		height: 120px
		background-color: #fff
		.icon
			float: right
			margin-left: 20px
			width: 80px
			height: 80px
			fill: $red
			transition: all 0.3s
		p
			overflow: hidden
			height: 2em * 40/36
/* card */
.card
	li
		position: relative
	&__cat
		position: absolute
		top: 0
		right: 0
		width: 30px
		height: 30px
		text-align: center
		background-color: #111
		+vertical
		z-index: 1
		transition: all 0.3s
		.icon
			display: inline-block
			margin-right: -4px
			width: 20px
			height: 15px
			vertical-align: middle
			fill: #fff
			&.icon-babes
				stroke-width: 12
				stroke: #fff
			&.icon-lifestyle
				stroke-width: 1
				stroke: #fff
			&.icon-entertainment
				stroke-width: 15
				stroke: #fff
		&:hover
			background-color: $red
			transition: all 0.3s
	&__in
		display: block
		transition: all 0.3s
		&:hover
			box-shadow: 0 0 10px 4px $red
			transition: all 0.3s
		&-img
			+ratio(37,21)
			img
				width: 100%
				min-height: 100%
				+ratio-in
		&-text
			padding: 10px 30px 30px 20px
			height: 160px
			background-color: #fff
			p
				overflow: hidden
				max-height: 3em * 25/20
				+sans-xb
				font-size: 20px
				line-height: (25/20)
				+ p
					margin-top: 10px
					max-height: 2em * 18/13
					+sans
					font-size: 13px
					line-height: (18/13)
					color: #111
/* Tile Section */
.tile
	&__list
		+pre(- gutter())
		+post(- gutter())
		+pie-clearfix
		+r(1279)
			+gutter(6 split)
		li
			+span(4)
			margin-bottom: 2*gutter()
			+r(959)
				+gallery(6)
			+r(479)
				+gallery(12)
		.card__cat
			right: gutter()
/* Load More */
.load-more
	margin-bottom: 60px
	text-align: center
	&__btn
		display: inline-block
		.icon
			display: block
			margin-left: auto
			margin-right: auto
			width: 80px
			height: 80px
			fill: $red
			transition: all 0.3s
		&:hover
			.icon
				fill: darken($red,20)
				transition: all 0.3s
		span
			display: block
			margin-top: 10px
			+ss-sb
			color: #fff
			line-height: 20px
			text-transform: uppercase
			letter-spacing: 0.05em
/* ==========================================================================
   Post page
   ========================================================================== */
.post
	overflow: hidden
	background-color: #fff
	margin-right: 410px
	+gutter()
	img
		max-width: 100%
		vertical-align: bottom
	&__img
		margin-bottom: 10px
		+pre(- gutter())
		+post(- gutter())
	&__title
		margin-bottom: 20px
		+sans-xb
		font-size: em(36)
		line-height: (42/36)
	p
		margin-bottom: 20px
		img
			+ img
				margin-top: 10px
	.advert-wrap
		margin-top: 30px
		margin-bottom: 30px
		.advert-bg
			height: 90px
			background-color: rgba(#111111, 0.1)
.aside
	float: right
	width: 370px
	&__list
		li
			+ li
				margin-top: gutter()
.trend__list
	+pre(-10px)
	li
		+span(220px (gutter-override: 20px))
	.card__in-img
		+ratio(1,1)
/* ==========================================================================
   About Page
   ========================================================================== */
.about
	margin-top: 40px
	padding: 40px 510px 60px 60px
	line-height: (24/16)
	background: #fff url("../img/bg/img_boobs.png") 92% -2px no-repeat
	background-size: 371px 186px
	p
		+ p
			margin-top: 20px
/* ==========================================================================
   Privacy Page
   ========================================================================== */
.privacy
	margin-top: 40px
	padding: 40px 510px 60px 60px
	line-height: (24/16)
	background: #fff url("../img/bg/img_glasses_big.png") 125% 55px no-repeat
	background-size: 608px 207px
	p
		+ p
			margin-top: 20px
/* ==========================================================================
   Other Styles
   ========================================================================== */
.title
	margin-top: 40px
	margin-bottom: 40px
	padding-left: 20px
	padding-right: 20px
	+sans-l
	font-size: em(42)
	line-height: (57/42)
	color: #fff
	text-align: center
	text-transform: uppercase
	letter-spacing: 0.25em
	+r(1023)
		margin-top: 30px
		margin-bottom: 30px
	&.title-cat
		margin-top: 20px
		margin-left: 227px + 25px
		text-align: left
		+sans-xb
