footer.footer
	.wrap
		span.copyright &copy; TopBanger
		nav
			.foot-nav
				ul
					li
						a(href="#") About
					li
						a(href="#") Contact
					li
						a(href="#") Advertising
					li
						a(href="#") Privaci Policy