header.header
	// begin logo
	.logo
		a(href="index.html")
			img(src="img/logo.png", alt="Top Banger")
	// end logo
	// begin main-nav
	nav.main-nav
		ul
			li
				a(href="#")
					+icon('babes')
					| Babes
			li
				a(href="#")
					+icon('lifestyle')
					| Lifestyle
			li
				a(href="#")
					+icon('entertainment')
					| Entertainment
	// end main-nav
	// begin search
	.search
		button.search-btn
			+icon('search')
			span Search
		input(type="text" placeholder="Search").search-inp
		button.submit-btn(type='submit') Go
	// end search