extend includes/_layout
block footToggle
  - var footToggle = 'About'
block title
  title About
block content
  .wrap
    h2.title.title-cat About Top Banger
    .about
      p.
        Consider EMGN your mind’s travel agent, sending you on a mental vacation whenever you need one. We specialise in entertainment, news, and scouring the web for its hidden gems so that you don’t have to. Here, you’ll find everything from back-flipping goats to inspiring individuals, from comedy shows to breaking news. We’re the pug you wish you had, so come to us when it all gets too hard, for a loving lick on the face.
