extend includes/_layout
block navToggle
	- var headToggle = 'Lifestyle'
block title
	title Category
block content
	.wrap
		// begin tile
		section.tile
			h2.title.title-cat Lifestyle
			ul.tile__list.card
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/1.jpg" alt="image")
						.card__in-text
							p 18 Amazing Images From National Geographic’s Traveler Photo Contest
							p Get up close and personal with our crazy amazing world.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/2.jpg" alt="image")
						.card__in-text
							p This Is All You Need To Know About Workout Supplements
							p What they are and aren’t doing to your body.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/3.jpg" alt="image")
						.card__in-text
							p If ‘Broad City’ Quotes Were Inspirational Posters About Life
							p Broad City quotes will change your life…nomo fomo.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/4.jpg" alt="image")
						.card__in-text
							p 15 People Who Just Totally Went There
							p If you could be anything, anything at all…
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/5.jpg" alt="image")
						.card__in-text
							p This Incredible Makeup Artist Transforms Herself Into Monsters
							p The creepiest creatures created by the stroke of a makeup brush.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/6.jpg" alt="image")
						.card__in-text
							p The creepiest creatures created by the stroke of a makeup brush.
							p These people need new friends, stat.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/2.jpg" alt="image")
						.card__in-text
							p This Is All You Need To Know About Workout Supplements
							p What they are and aren’t doing to your body.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/3.jpg" alt="image")
						.card__in-text
							p If ‘Broad City’ Quotes Were Inspirational Posters About Life
							p Broad City quotes will change your life…nomo fomo.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/4.jpg" alt="image")
						.card__in-text
							p 15 People Who Just Totally Went There
							p If you could be anything, anything at all…
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/3.jpg" alt="image")
						.card__in-text
							p If ‘Broad City’ Quotes Were Inspirational Posters About Life
							p Broad City quotes will change your life…nomo fomo.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/4.jpg" alt="image")
						.card__in-text
							p 15 People Who Just Totally Went There
							p If you could be anything, anything at all…
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/5.jpg" alt="image")
						.card__in-text
							p This Incredible Makeup Artist Transforms Herself Into Monsters
							p The creepiest creatures created by the stroke of a makeup brush.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/3.jpg" alt="image")
						.card__in-text
							p If ‘Broad City’ Quotes Were Inspirational Posters About Life
							p Broad City quotes will change your life…nomo fomo.
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/4.jpg" alt="image")
						.card__in-text
							p 15 People Who Just Totally Went There
							p If you could be anything, anything at all…
				li
					a(href="#").card__in
						.card__in-img: img(src="img/content/5.jpg" alt="image")
						.card__in-text
							p This Incredible Makeup Artist Transforms Herself Into Monsters
							p The creepiest creatures created by the stroke of a makeup brush.
		// end tile
		// begin load-more
		.load-more
			a(href="").load-more__btn
				+icon('arrow-down')
				span load more
		// end load-more
