extend includes/_layout
block content
	// begin main-news
	.main-news
		a(href="#")
			.main-news__img
				img(src="img/content/test.jpg", alt="img")
			.main-news__desc
				i.icon
				p.
					This Carolina Panther Is Airbnb-ing His Place For Super Bowl Sunday
	// end main-news